$background-color: #252526;
$text-color: #D2D2D9;
$primary-color: #6D8C3F;

.home__title {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.home__subtitle {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 1rem;
    line-height: 1.6rem;
}

.home__button {
    padding: .8rem 1rem;
    font-size: .9rem;
    font-weight: bold;
    color: $text-color;
    text-transform: uppercase;
    background-color: $primary-color;
    border-radius: 3px;
    border: 1px solid darken($primary-color, 30%);

    &:hover {
        cursor: pointer;
        background-color: lighten($primary-color, 5%);
    }
}

.grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.grid--full-height {
    min-height: 100vh;
}

.grid--vertical {
    flex-flow: column nowrap;
}

.grid--justify-center {
    justify-content: center;
}