$primary-color: #6D8C3F;
$white-color: #fefefe;
$background-color: #252526;
$text-color: #D2D2D9;

.pad {
    display: flow;
    flex-flow: column nowrap;
    width: 100%;
    margin: auto;
    background-color: $background-color;
    height: 100vh;
}

.pad__toolbar {
    background-color: lighten($background-color, 5%);
    color: darken($white-color, 50%);
    padding: 1rem;
    width: 100%;
    margin: 0rem;
    border-bottom: 1px solid darken($background-color, 10%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pad__title {
    margin-right: 1rem;
}

.pad__super-title {
    color: $text-color;
    font-weight: bold;
    margin-right: .5rem;
}


.pad__button {
    padding: .6rem .9rem;
    background-color: darken($primary-color, 5%);
    color: $white-color;
    border: none;
    margin-right: 1rem;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        cursor: pointer;
        background-color: darken($primary-color, 10%);
    }
}

.pad__button--without-margin {
    margin: 0rem;
}
.pad__editor {
    z-index: 5;
    background-color: $background-color;
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0rem;
    border: none;
    color: $text-color;
    font-family: sans-serif;
    line-height: 1.25rem;
    padding: 1rem;
    padding-top: 4rem;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

.pad__message-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    flex-flow: column nowrap;
    justify-content: center;
    line-height: 1.6rem;
    font-size: 1.2rem;
}